#greenText{
    color: #3BD278
}

#carousel_style{
padding: 10px;
}

.body{
    background-color: #172b4d;
    
}

#button {
    background-color: #3BD278;
    border: 0;
    font-size: 120%;
    padding:15px;
  }

  #carouselBackground{
      height: 500px;
      background-size: cover;
  }

  .container-fluid{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
      padding-bottom: 100px;
  }