<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">VIEW</h1>
    <h1 id="green" class="mb-0 heading pt-4">&ensp;APPOINTMENTS</h1>
    <button
      class="btn btn-primary"
      style="float: right; margin: 10px"
      [routerLink]="['../receptionist']"
      id="button"
    >
      Back
    </button>
  </div>
  <br />
  <div class="card" id="manage_patient_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6"></div>
      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <td colspan="8">
              <input
                class="form-control"
                type="text"
                placeholder="Search here..."
                [(ngModel)]="filter"
              />
            </td>
          </tr>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Appointment Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!--Depends on where we read here we used view model to display-->
          <tr
            *ngFor="
              let appointment of labTechnicianService.appointments
                | filter: filter
                | paginate: { itemsPerPage: 5, currentPage: page }
            "
          >
            <td>{{ appointment.PatientId }}</td>
            <td>{{ appointment.PatientName }}</td>
            <td>{{ appointment.Age }}</td>
            <td>{{ appointment.Gender }}</td>
            <td>{{ appointment.EmployeeName }}</td>
            <td>{{ appointment.AppointmentDate | date: "dd-MM-yyyy" }}</td>
            <td>{{ appointment.AppointmentStatus }}</td>
            <td>
              <button
                (click)="
                  addPayment(appointment.PatientId, appointment.EmployeeId)
                "
                class="btn btn-info"
                [disabled]="isDisabled(appointment.AppointmentStatus)"
              >
                Add Payment
              </button>

              <button
                (click)="deleteAppointment(appointment.AppointmentId)"
                class="btn btn-outline-danger"
                style="margin-left: 10px"
                [disabled]="!isDisabled(appointment.AppointmentStatus)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin-top: 35px">
        <!--pagenation-->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
