<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">VIEW</h1>
    <h1 id="green" class="mb-0 heading pt-4">&ensp;APPOINTMENTS</h1>
    <a
      id="button"
      class="btn btn-primary"
      style="float: right; margin: 10px"
      href="http://localhost:4200/labtechnician/2"
    >
      Back
    </a>
    <!--search-->
    <div class="form-outline">
      <br />
    </div>
  </div>

  <div class="card" id="manage_patient_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6"></div>
      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <td colspan="8">
              <input
                class="form-control"
                type="text"
                placeholder="Search....."
                [(ngModel)]="filter"
              />
            </td>
          </tr>
          <tr>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Mobile Number</th>
            <th>Gender</th>
            <th>Appointment Date</th>
            <th>Apointment Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!--Depends on where we read here we used view model to display-->
          <tr
            *ngFor="
              let appointment of labTechnicianService.appointments
                | filter: filter
                | paginate: { itemsPerPage: 5, currentPage: page }
            "
          >
            <td>{{ appointment.PatientId }}</td>
            <td>{{ appointment.PatientName }}</td>
            <td>{{ appointment.Age }}</td>
            <td>{{ appointment.MobileNo }}</td>
            <td>{{ appointment.Gender }}</td>
            <td>{{ appointment.AppointmentDate | date: "dd-MM-yyyy" }}</td>
            <td>{{ appointment.AppointmentStatus }}</td>
            <td>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteAppointment(appointment.AppointmentId)"
              >
                X
              </button>
              &nbsp;
              <button
                (click)="
                  viewPrescribedTests(
                    appointment.PatientId,
                    appointment.AppointmentId
                  )
                "
                class="btn btn-info"
                style="margin-left: 10px"
                [disabled]="!isDisabled(appointment.AppointmentStatus)"
              >
                Prescribed Tests
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="footer">
        <!--pagenation-->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
