nav {
  background-color: #3bd278;
}

#button {
  background-color: #3bd278;
  border: 0;
  font-size: 120%;
}

#greenText {
  color: #10812d;
}

#image_specs {
  vertical-align: middle;
  padding: 25px 0px;
  width: 100%;
}

label {
  font-size: 1rem;
  margin-bottom: 0.4em;
  margin-top: 1.5em;
  font-weight: 500;
}

input[type="radio"] {
  margin-left: 2em;
  margin-top: 2.2em;
  margin-bottom: 1.5em;
}

label#gender,
label#isactive {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

input[type="checkbox"] {
  margin-top: 2.3em;
  margin-bottom: 1.5em;
}

#signup_card {
  min-width: 20rem;
  width: 75%;
}

#heading {
  display: inline;
  font-size: 150%;
  font-weight: bold;
}
#green {
  display: inline;
  font-size: 150%;
  font-weight: bold;
  color: #077e25;
}

.required {
  color: red;
}

#breadCrumb {
  color: white;
}

#navBar {
  background-color: #172b4d;
  margin-top: 10px;
}

div.bg-default {
  padding: 5rem;
}
