nav {
    background-color: #3bd278;
  }
  
  #button {
    background-color: #3bd278;
    border: 0;
    font-size: 120%;
  }
  
  #greenText {
    color: #3bd278;
  }
  
  #image_specs {
    margin: 0;
    padding: 40px;
    width: 100%;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  label {
    font-size: 0.9rem;
  }
  
  #signup_card {
    min-width: 20rem;
    width: 60%;
  }
  
  #heading {
    display: inline;
    font-size: 150%;
    font-weight: bold;
  }
  #green {
    display: inline;
    font-size: 150%;
    font-weight: bold;
    color: #3bd278;
  }
  
  .required
  {
      color: red;
  }
  
  #breadCrumb{
  
    color: white;
  }
  
  #navBar{
  background-color: #172b4d;
  margin-top: 10px;
  }