<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">MANAGE</h1>
    <h1 id="green" class="mb-0 heading pt-4">&ensp;PAYMENTS</h1>
    <button
      id="button"
      class="btn btn-primary"
      style="float: right; margin: 10px"
      [routerLink]="['../receptionist']"
    >
      Back
    </button>
    <!--search-->
    <div class="form-outline">
      <br />
    </div>

    <div class="card" id="manage_patient_card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6"></div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive">
        <table class="table table-flush align-items-center">
          <thead class="thead-light">
            <tr>
              <td colspan="5">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Search....."
                  [(ngModel)]="filter"
                />
              </td>
            </tr>
            <tr>
              <th>PaymentId</th>

              <th>Amount</th>

              <th>Patient Name</th>

              <th>Payment date</th>

              <th>Payment Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let c of payService.payments
                  | filter: filter
                  | paginate: { itemsPerPage: 5, currentPage: page }
              "
            >
              <td (click)="populateForm(c)">{{ c.PaymentId }}</td>

              <td (click)="populateForm(c)">{{ c.Amount }}</td>

              <td (click)="populateForm(c)">{{ c.PatientName }}</td>

              <td (click)="populateForm(c)">
                {{ c.PaymentDate | date: "dd-MM-yyyy" }}
              </td>
              <td (click)="populateForm(c)">{{ c.Status }}</td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <!--paginatiom control-->
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
