<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">MANAGE</h1>
    <h1 id="green" class="mb-0 heading pt-4">&ensp;PATIENTS</h1>
    <button
      id="button"
      class="btn btn-primary"
      style="float: right; margin: 10px"
      [routerLink]="['../receptionist']"
    >
      Back
    </button>
  </div>

  <div class="card" id="manage_patient_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6"></div>
      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <td colspan="7">
              <input
                class="form-control"
                type="text"
                placeholder="Search....."
                [(ngModel)]="filter"
              />
            </td>
          </tr>
          <tr>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Mobile Number</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let patient of appointmentService.patients
                | filter: filter
                | paginate: { itemsPerPage: 5, currentPage: page }
            "
          >
            <td class="table-user">
              <b>{{ patient.PatientId }}</b>
            </td>
            <td>
              <span class="text-muted">{{ patient.PatientName }}</span>
            </td>
            <td>
              <span class="text-muted">{{ patient.Age }}</span>
            </td>
            <td>
              <span class="text-muted">{{ patient.MobileNo }}</span>
            </td>
            <td>
              <span class="text-muted">{{ patient.Gender }}</span>
            </td>
            <td>
              <span class="text-muted">{{ patient.Address }} </span>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-info"
                (click)="UpdatePatient(patient.PatientId)"
              >
                Edit</button
              >&nbsp;
              <button
                class="btn btn-sm btn-info"
                (click)="AddAppointment(patient.PatientId)"
              >
                Book Appointment</button
              >&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin-top: 35px">
        <!--pagenation-->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
