<div class="container-fluid bg-default">
  <div class="container-fluid pt-4" align="center">
    <h1 id="heading" class="mb-0 heading pt-4">WELCOME</h1>
    <h1 id="green" class="mb-0 heading pt-4">&ensp;{{ loggedUserName }}!</h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a>
            <img
              src="../../assets/img/add.png"
              class="
                rounded-circle
                img-center img-fluid
                shadow
                shadow-lg--hover
              "
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"></span>
              <small class="h4 font-weight-light text-muted">
                <!--login/signup-->
              </small>
            </h5>
            <div class="mt-3">
              <button
                routerLink="/employee"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                Add Employee
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a>
            <img
              src="../../assets/img/view.png"
              class="
                rounded-circle
                img-center img-fluid
                shadow
                shadow-lg--hover
              "
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"></span>
              <small class="h4 font-weight-light text-muted">
                <!--  Doctors sign in--></small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/employeelist"
                id="button"
                class="btn btn-primary"
              >
                View Employee
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a>
            <img
              src="../../assets/img/Announcement.png"
              class="
                rounded-circle
                img-center img-fluid
                shadow
                shadow-lg--hover
              "
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"></span>
              <small class="h4 font-weight-light text-muted">
                <!--login/signup-->
              </small>
            </h5>
            <div class="mt-3">
              <button
                (click)="addAnnouncement()"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                Add Announcement
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a>
            <img
              src="../../assets/img/logout.png"
              class="
                rounded-circle
                img-center img-fluid
                shadow
                shadow-lg--hover
              "
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"></span>
              <small class="h4 font-weight-light text-muted">
                <!--  Patients sign in -->
              </small>
            </h5>
            <div class="mt-3">
              <button
                (click)="logout()"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
