#button {
    background-color: #3bd278;
    border: 0;
  }
  
  #card_image {
    width: 8rem;
  }
  
  
  #green {
    color: #3BD278;
    display: inline;
    font-size: 200%;
    font-weight: bold;
    padding-top: 2rem;
  }
  
  #heading {
    display: inline;
    font-size: 200%;
    font-weight: bold;
    color: white;
    padding-top: 2rem;
  
  }
  
  #main_container {
    margin: 0;
    padding: 0;
  }