<div class="container-fluid bg-default">
    <div class="container-fluid pt-4" align="center">
      <h1 id="heading" class="mb-0 heading pt-4">The</h1>
      <h1 id="green" class="mb-0 heading pt-4"> TEAM</h1>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/img/user-male.png"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Avin Joseph</span>
                <small class="h4 font-weight-light text-muted">
                  <!--login/signup--> </small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/img/user-female.png"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Jithumol S</span>
                <small class="h4 font-weight-light text-muted">
                  <!--  Doctors sign in--></small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
        <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <a>
                  <img src="../../assets/img/user (1).png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                    id="card_image">
                </a>
                <div class="pt-4 text-center">
                  <h5 class="h3 title">
                    <span class="d-block mb-1">Vyshnav Sasidharan</span>
                    <small class="h4 font-weight-light text-muted"> </small>
                  </h5>
      
                </div>
              </div>
            </div>
          </div>
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/img/user.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Surabhi P S</span>
                <small class="h4 font-weight-light text-muted">
                  <!--  Doctors sign in--></small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</div>