@import "https://fonts.googleapis.com/css?family=Raleway";
.footer {
  padding: 10px;
  background-color: #172b4d;
  color: white;
  height: 4rem;
  vertical-align: middle;
}

a,
span {
  color: rgb(255, 253, 253);
  text-decoration: none;
  float: right;
  font-family: Raleway;
}
