#button {
  background-color: #3bd278;
  border: 0;
}

#card_image {
  width: 10rem;
  align-items: center;
}

div.bg-default {
  padding: 5rem;
}

#green {
  color: #3bd278;
  display: inline;
  font-size: 200%;
  font-weight: bold;
  padding-top: 2rem;
}

#heading {
  display: inline;
  font-size: 200%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-top: 2rem;
}

#main_container {
  margin: 0;
  padding: 0;
}

div.bg-default {
  padding: 7rem;
}

table th {
  color: black;
  font-weight: bold;
}
